<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>

	<targets>
		<target xsi:type="File"
				name="file"
				layout="${verbose}"
				fileName="nlog.log"
				archiveFileName="log.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>